.collapse {
  background-color: #f6f6f6;
  border-radius: 5px;
  margin: 15px 0;
  overflow: hidden;

  &__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10px;
    cursor: pointer;
    background-color: #ff6060;
    border-radius: 5px;
  }

  &__title {
    color: white;
    font-size: 1.1rem;
    font-weight: 500;
  }

  &__arrow {
    width: 12px;
    height: 12px;
    margin-right: 10px;
    border-right: 2px solid white;
    border-bottom: 2px solid white;
    transform: rotate(225deg);
    transition: transform 0.3s ease;
    transform-origin: bottom right;
  }

  &__arrow.rotated {
    transform: rotate(45deg);
  }

  &__content {
    overflow: hidden;
    transition: max-height 0.3s ease;
  }

  &__text {
    padding: 10px 20px;
    font-weight: lighter;
    transform: translateY(-10px);
    opacity: 0;
    transition: transform 0.2s ease-out, opacity 0.2s ease-out;
  }


// animation 
  &.open {
    .collapse__text {
      transform: translateY(0);
      opacity: 1;
      transition-delay: 0.05s;
    }
  }
}
