body {
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  margin: 0;
}

header, main {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 50px; // marge bord extérieur (desktop)
}

main {
  min-height: 80vh; // pousser le footer
}

footer {
  padding: 10px 0;
  width: 100%;
}

// ---- VERSION MOBILE -----
@media (max-width: 768px) {
  header, main {
    padding: 0 15px; // marge réduite sur mobile
  }
}
